@import "variables";
@import "header";
@import "navigation";
@import "product-card";
@import "rating";
@import "price";

body {
  margin: 0;
  font-family: $font;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}
